:root {
  --dark: #2e2f42;
  --text: #434455;
  --main-background-color: #e5e5e5;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --cornflower: #e7e9fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo-element {
  color: var(--dark);
}
.link {
  text-decoration: none;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}
.list {
  list-style-type: none;
  display: flex;
}
.address {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--text);
}
.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

/* main */
.main {
  background-color: var(--main-background-color);
}
.hero {
  background-color: var(--dark);
  padding: 188px 472px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
  display: block;
  width: 496px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.but {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--primary-brand);
  color: var(--white-background);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
}
.but:hover,
.but:focus {
  background-color: var(--pressed-state);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.feature-page {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.team {
  background-color: var(--light);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.fon {
  background-color: var(--white-background);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-page {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* portfolio-html */

.filter-but {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand);
  background-color: var(--light);
}
.filter-but:hover,
.filter-but:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}
.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.main-page {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.team-box {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: calc((100%-72) / 4);
}

/* footer */
.foot {
  background-color: var(--dark);
}
.word-color {
  color: var(--light);
}
.foot-page {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.set-list {
  flex-wrap: wrap;
}
.set-items {
  width: 360px;
  height: 420px;
  padding: 0px 0px 32px 0px;
  flex-direction: column;
  align-items: flex-start;

  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white-background);
}
.set-text {
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
